.bar-container{
    border: 1px solid black;
    flex: 1;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

.bar-fill{
    height: 20px;
    background-color: lightblue;
}

.experience-text{
    position: absolute;
    top: 0px
}