.DS_Store
.idea
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
# TODO frontend/src/__generated__ shouldn't be included as well
frontend/**/*.graphql.types.ts

# do not delete
backend/python

