.DS_Store
.idea
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache

# do not delete
backend/python
backend/src/main/python/__pycache__/
backend/src/main/python/utils/__pycache__/
backend/resources/files

**/firebase_secret.json
**/firebaseConfig.ts
**/.env
**/application-secrets.properties