.points-table {
    width: 600px;
    border: 1px solid blue;
}
  
.row {
    display: flex;
    justify-content: space-between;
}
  
.cell {
    border: 1px solid blue;
    padding: 12px;
    display: flex;
    justify-content: center;
    width: 30%;
}